page-add-aluno {

        ion-avatar img  {
        width:100% !important;
        height : 100% !important;
        max-width: 130px !important;  //any size
        max-height: 130px !important; //any size
        margin: auto;
    }

}
