<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="popToHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Turmas</h2>

  <ion-list>
      <ion-item-sliding *ngFor="let turma of filterTurmasOfDelete()">
        <ion-item [class.falha]="!turma.confirmado" [class.deletado]="turma.deletado" (click)="itemSelected(turma)">
          {{turma.title}}
        </ion-item>
        <ion-item-options side="right">
          <button 
            ion-button *ngIf="!turma.confirmado" 
            (click)="reenvia(turma)">
              Reenviar
          </button>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab mini (click)="addTurma()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
