<ion-header>
  <ion-navbar>
    <ion-title>{{cobranca.title}}</ion-title>
    
    <ion-buttons end>
      <button ion-button icon-only (click)="editCobranca()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Devedores</h2>
  
  <ion-list>
    <ion-item-sliding *ngFor="let aluno of alunosDev">
      <ion-item [class.falha]="!aluno.confirmado">
        <ion-avatar item-start>
          <img src={{aluno.avatar}}>
        </ion-avatar>
        <h2>{{aluno.nome}}</h2>
        <ion-icon name="checkmark-circle" color="danger" item-end (click)="addPagamento(aluno)"></ion-icon>
      </ion-item>
      <ion-item-options side="right">
        <button 
          ion-button *ngIf="!aluno.confirmado" 
          (click)="reenvia(aluno)">
            Reenviar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div style="text-align: center;">
    <h5 *ngIf='!showPag' (click)="showPag=!showPag">Mostrar Pagantes</h5>
    <h5 *ngIf='showPag' (click)="showPag=!showPag">Ocultar Pagantes</h5>
  </div>
  
  <ion-list *ngIf='showPag'>
    <ion-item-sliding *ngFor="let aluno of alunosPag">
      <ion-item [class.falha]="!aluno.confirmado">
        <ion-avatar item-start>
          <img src={{aluno.avatar}}>
        </ion-avatar>
        <h2>{{aluno.nome}}</h2>
        <ion-icon name="checkmark-circle" color="primary" item-start (click)="lookPagamento(aluno)"></ion-icon>
      </ion-item>
      <ion-item-options side="right">
        <button 
          ion-button *ngIf="!aluno.confirmado" 
          (click)="reenvia(aluno)">
            Reenviar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
