<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="popToHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Alunos</h2>

  <ion-list>
      <ion-item-sliding *ngFor="let aluno of filterAlunosOfDelete()">
        <ion-item [class.falha]="!aluno.confirmado" [class.deletado]="aluno.deletado" (click)="itemSelected(aluno)">
          <ion-avatar item-start>
            <img src={{aluno.avatar}}>
          </ion-avatar>
          <h2>{{aluno.nome}}</h2>
        </ion-item>
        <ion-item-options side="right">
          <button 
            ion-button *ngIf="!aluno.confirmado" 
            (click)="reenvia()">
              Reenviar
          </button>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab mini (click)="addAluno()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
